/* SPDX-FileCopyrightText: 2019 Jana Iyengar, Marten Seemann */
/* SPDX-License-Identifier: Apache-2.0 */
/* This file is taken from https://github.com/marten-seemann/quic-interop-runner and has been modified by the tls-interop-runner Authors. */

body.loading table.result,
body.loading .navbar-nav .start-time,
body.loading .navbar-nav .duration,
body.loading .navbar-nav .end-time {
  opacity: 0.3;
}

.navbar-brand {
    font-size: 1.6rem;
}

p {
    font-size: 1.3rem;
}

.btn-xs {
  margin: 0 .1rem .1rem 0;
  padding: .01rem .025rem .01rem .025rem;
  font-size: .7rem;
  border-width: 2px;
  border-radius: 4px;
  font-weight: bold;
}

.btn-highlight {
  background-color: yellow !important;
  color: black !important;
}

.hover-xy {
  background-color: #ecf0f1;
  color: #e74c3c;
}

.table th {
  vertical-align: middle;
}
tr.hover-xy > th, th.hover-xy {
  color: #e74c3c;
}
